.text{
    color: #4c4c4c; font-family: 'Lato', sans-serif; font-size: 40px; font-weight: 200; line-height: 58px; margin: 0 0 20px;
}

#restart_button {
    background-color: white;
    border: 1px solid grey;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#test_button {
    background-color: #fb8500;
    border: 1px solid #fb8500;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.all {
    display: grid;
    justify-items: center;
}

.grid_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 400px;
    width: 400px;
    border: 1px dotted black;
    border-radius: 10%;
    padding: 5px;
}

.grid_item{
    border: 2px solid black;
    border-radius: 50%;
    gap: 50px;
}